{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<!-- Bootstrap JS (popper.js is required) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


<style>
    body {
        background-color: #8290c7;
    }

    .container {
        margin-top: 50px;
    }

    .custom-card {
        /* background: #8290c7; */
        /* background: linear-gradient(#343957 0%, #343957 50px, white 17px, white 100%); */
        box-shadow: 0 0 2px rgba(0, 0, 0);
        /* border: 3px solid #8290c7; */
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
   
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
    }
    .btn-custom:hover {
        background-color: #4d5fbc;
        color: white;
    }



  .btn{
    background-color: #343957;
    color: white;
  }

    .custom-card input[type="number"],
    .custom-card input[type="date"],
    .custom-card select {
      border: 1px solid #8290c7;         
      border-radius: 5px; 
      padding: 8px; 
      margin-bottom: 10px; 
    }
</style>


<style>
    .bs {
      box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
    }
  
    .bs_sm {
      box-shadow: inset 2px 2px 5px 3px rgba(0, 0, 0, 0.199);
    }
  
    .tb {
      color: black;
    }
  
    .tg {
      color: rgb(0, 140, 7);
    }
  
    .tr {
      color: rgb(218, 0, 0);
    }
  
    .btn_add {
      background-color: orange;
      color: black;
    }
  
    .btn_add:hover {
      background-color: rgb(234, 152, 0);
      color: black;
    }
  
    ::-webkit-scrollbar {
      display: none
    }
    select option:hover{
      background-color: black;
    }

    .body-wrapper {
      margin-left: 18vw;
      margin-top: 3vw;
      
    }

    .position-relative{
        background-color: #8290c7;
    }

    .item-div{
      background: linear-gradient(#3d4465 0%, #3d4465 80px, white 17px, white 100%);
    }

    .button-hover{
        background-color: white;
        color: #3d4465;
    }
    .button-hover:hover{
        background-color:#4d5fbc ;
        color: white;
    }

    .success {
          color: green;
      }

      .error {
          color: red;
      }

  </style>
  
  <div class="content-body">
    <!-- row -->
    <div class="container-fluid">
    <div class="row p-0 m-0" >
      <div class="col-12  p-0 m-0">
<div class=" pb-0 mb-0 p-2" style="height:100%;width:100%; background-color: #8290c7;">           
    <form method="post" action="{% url 'update_item' item.id %}" class="needs-validation " novalidate autocomplete="off" id="itemForm">
        {% csrf_token %}
        <!-- style="background-color: #343957;" -->
        <!-- style="background-color: #3d4465;" -->
        <div class=" bs p-4 rounded mb-5 " style="background-color: #3d4465;">
            <div class="row d-md-flex d-sm-block ">
                <h5 class="col mt-3"><strong class="fw-bolder text-white fs-3">EDIT ITEM</strong></h5>
                <div style="text-align: right;" class="col"><a class="btn button-hover" href="{% url 'view_item' %}"><i class="fa fa-arrow-left"></i> Back</a></div> 
                
              </div>  <br><br>
            <div id="main_form_div" style="background-color: white;padding: 3%;border-radius: 8xp;">
                <div class="row" >
                    <div class="col-md-3">
                        <label for="">Item Type:</label>
                        <select style="color: black;" class="form-control border-dark bg-light" name="type" id="type" onchange="updateLabelAndPlaceholder()" required>
                            <option selected value="{{item.item_type}}">{{item.item_type}}</option>
                            <option value="Products">Products</option>
                            <option value="Services">Services</option>
                        </select>
                        <script>
                          
                            function updateLabelAndPlaceholder() {
                                var select = document.getElementById("type");
                                var selectedOption = select.options[select.selectedIndex].value;
                                var label = document.getElementById("hsnLabel");
                                var input = document.getElementById("hsn");
                        
                                if (selectedOption === "Products") {
                                    label.innerHTML = "Item HSN :";
                                    input.placeholder = "ITEM HSN";
                                } else if (selectedOption === "Services") {
                                    label.innerHTML = "Item SAC :";
                                    input.placeholder = "ITEM SAC";
                                }
                            }
                        </script>
                    </div>
                    <div class="col-md-3">
                        <label for="">Item Name:</label>
                        <input style="color: black;" value="{{item.item_name}}" class="form-control border-dark " type="text" placeholder="ITEM NAME" autocomplete="off" onchange="namecheck(this.value)" oninput="namecheck(this.value)" id="item_name" name="item_name" required>
                        <div class=" m-2" id="namemsg"></div>

                    </div>
                    <div class="col-md-3">
                        <label id="hsnLabel"> Item HSN :</label>
                        <input style="color: black;" value="{{item.item_hsn}}" class="form-control border-dark" type="number" placeholder="ITEM HSN" id="hsn" name="item_hsn" onchange="hsncheck(this.value)" oninput="hsncheck(this.value)" required>
                        <div class=" m-2" id="hsnmsg"></div>
                    </div>
                    <div class="col-md-3 ">
                        <label for="">Item Unit:</label>
                        <div class="d-flex">
                            <select style="color: black;" class="form-control border-dark bg-light" id="unit" name="item_unit" required>
                                <option value="{{item.item_unit}}" selected>{{item.item_unit}}</option>
                                <option value="NOS">NOS</option>
                                <option value="BOX">BOX</option>
                                <option value="PACKET">PACKET</option>
                                {% for i in item_units %}
                                    <option value="{{ i.unit_name|upper }}">{{ i.unit_name|upper }}</option>
                                {% endfor %}
                            </select>&nbsp; &nbsp;
                            <button type="button" class="btn " id="unitAddButton" style="background-color:rgb(60, 61, 101); height:37px; text-align:center;" data-bs-toggle="modal" data-bs-target="#addUnitModal">
                                +
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <p></p>
                    <hr class="p-0 m-0">
                    <div style="background-color: rgba(130, 144, 199);" class="p-3 pb-0 mb-0">
                        <div class="">
                            <div class="row pb-0 mb-0">
                                <div id="prc_" class="col text-center pb-2" >
                                    <a class="fw-bolder fs-4" style="color: white; cursor: pointer;" >PRICING</a>
                                </div>
                                <div id="stk_" class="col text-center pb-2" >
                                    <a class="fw-bolder fs-4" style="color: white; cursor: pointer;" >STOCKS</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="pricing_template" >
                        <div class="row">
                            <div class="col-sm-12  col-md-1"></div>
                            <div class="col-sm-12 col-md-10 pb-4">
                                <div class="text- pt-5">
                                    <label class=" tb" for="item_tax_1" style=" user-select: none; color: black;">Taxable</label>
                                    <input class="me-3" name="item_taxable" type="radio" id="inclusive" value="Taxable" {% if item.item_gst %} checked {% endif %} required>
                                    <label class="tb" for="item_tax_2" style=" user-select: none; color: black;">Non Taxable</label>
                                    <input name="item_taxable" type="radio" value="Non Taxable" id="check" {% if item.item_gst %} {% else %} checked {% endif %} required>
                                </div>
                                <br>
                                <div id="taxdiv" style="display: none;">
                                    <div class="d-flex">
                                        <div class="w-50 me-3">
                                            <label class="tb " for="" style="color: black;">GST</label><br>
                                            <select style="color: black;background-color: white;" class="form-control fw- border-secondary " id="intra_st" name="item_gst" >
                                              <option value="{{item.item_gst}}" selected>{{item.item_gst}}</option>
                                              <option value="GST0[0%]" >GST0[0%]</option>
                                              <option value="GST3[3%]">GST3[3%]</option>
                                              <option value="GST5[5%]">GST5[5%]</option>
                                              <option value="GST12[12%]">GST12[12%]</option>
                                              <option value="GST18[18%]">GST18[18%]</option>
                                              <option value="GST28[28%]">GST28[28%]</option>
                                            </select>
                                        </div>
                                        <div class="w-50">
                                            <label class="tb " for="" style="color: black;">IGST</label><br>
                                            <select style="color: black;background-color: white;" class="form-control fw- border-secondary tb " id="inter_st" name="item_igst" >
                                              <option value="{{item.item_igst}}" selected>{{item.item_igst}}</option>
                                              <option value="IGST0[0%]">IGST0[0%]</option>
                                              <option value="IGST3[3%]">IGST3[3%]</option>
                                              <option value="IGST5[5%]">IGST5[5%]</option>
                                              <option value="IGST12[12%]">IGST12[12%]</option>
                                              <option value="IGST18[18%]">IGST18[18%]</option>
                                              <option value="IGST28[28%]">IGST28[28%]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                
                                <div class="d-flex">
                                    <div class="w-50 me-3">
                                        <label class="tb " for="" style="color: black;">SALES PRICE</label><br>
                                        <input style="color: black;background-color: white;" value="{{item.item_sale_price}}" id="saleprice" class="form-control fw-normal border-secondary" type="number" name="saleprice" value="0">
                                    </div>
                                    <div class="w-50">
                                        <label class="tb " for="" style="color: black;">PURCHASE PRICE</label><br>
                                        <input style="color: black;background-color: white;" value="{{item.item_purchase_price}}" id="purprice" class="form-control fw-normal border-secondary" type="number" name="purprice" value="0">
                                    </div>
                                </div>
                                <div class="text-start mt-5">
                                    <button id="next_btn" class="btn " style="background-color:rgb(61, 68, 101); color:white;" type="button">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div hidden id="stock_template"style="background-color: rgba(144, 211, 117, 0.098);">
                        <div class="row">
                            <div class="col-sm-12  col-md-1"></div>
                            <div class="col-sm-12 col-md-10 pb-4">
                                <br><br>
                                <div class="d-flex">
                                    <div class="w-50 me-3">
                                    <label class="tb " for="stock" style="color: black;">OPENING STOCK</label><br>
                                    <input style="color: black;background-color: white;" value="{{item.item_opening_stock}}" id="stock" class="form-control fw-normal border-secondary" type="number" name="item_opening_stock">
                                    </div>
                                    <div id="at_price_div" class="w-50">
                                    <label class="tb " for="itmprice" style="color: black;">AT PRICE</label><br>
                                    <input style="color: black;background-color: white" value="{{item.item_at_price}}" id="itmprice" class="form-control fw-normal border-secondary " type="number" name="item_at_price" >
                                    </div>
                                </div>
                                <br>
                                <div class="d-flex">
                                    <div class="w-50 me-3">
                                    <label class="tb " for="itmdate" style="color: black;">DATE</label><br>
                                    <input style="color: black;background-color: white" value="{{item.item_date|date:'Y-m-d'}}" id="itmdate" class="form-control fw-normal border-secondary " type="date" required name="itmdate">
                                    </div>
                                    <div class="w-50">
                                    <label class="tb " for="minstock" style="color: black;">MINIMUM STOCK TO MAINTAIN</label><br>
                                    <input style="color: black;background-color: white" value="{{item.item_min_stock_maintain}}" id="minstock" class="form-control fw-normal border-secondary " type="number" name="minstock">
                                    </div>
                                </div>

                                      <div class="text-center mt-4">
                                        <button id="prev_btn" class="btn btn-custom"  type="button">PREVIOUS</button>
                                          <!-- <button class="btn btn-custom" type="submit" name="save_and_next" value="save_and_next" onclick="updateClickedButtonValue(this.value)">SAVE & NEXT</button> -->
                                          <button class="btn btn-custom" type="submit" name="itemsave" value="itemsave" id="itemsave" >SAVE</button>
                                      </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
      window.onload = function() {
          setTimeout(setupEventListeners, 1000); // Trigger after 1 second (1000 milliseconds) of page load
          checkRadioButtons(); // Check radio buttons on page load
          setTimeout(updateLabelAndPlaceholder, 1000);
      };
  
      function setupEventListeners() {
          var checkbox1 = document.getElementById('inclusive');
          checkbox1.addEventListener('click', function () {
              if (checkbox1.checked) {
                  document.getElementById('taxdiv').style.display = 'block';
                  document.getElementById('check').checked = false;
              } else {
                  document.getElementById('taxdiv').style.display = 'none';
                  document.getElementById('intra_st').value = ' ';
                  document.getElementById('inter_st').value = ' ';
              }
          });
      
          var checkbox = document.getElementById('check');
          checkbox.addEventListener('click', function () {
              if (checkbox.checked) {
                  document.getElementById('taxdiv').style.display = 'none';
                  document.getElementById('inclusive').checked = false;
                  document.getElementById('intra_st').value = ' ';
                  document.getElementById('inter_st').value = ' ';
              } 
          });
      }
  
      function checkRadioButtons() {
          var inclusiveRadio = document.getElementById('inclusive');
          var checkRadio = document.getElementById('check');
  
          if (inclusiveRadio.checked) {
              document.getElementById('taxdiv').style.display = 'block';
              document.getElementById('check').checked = false;
          } else {
              document.getElementById('taxdiv').style.display = 'none';
              document.getElementById('intra_st').value = ' ';
              document.getElementById('inter_st').value = ' ';
          }
      }
  </script>
  
  

          <script>
            
              $(document).ready(function() {
                $('#itemForm').submit(function(event) {
                    // Prevent default form submission behavior
                    event.preventDefault();

                    // AJAX request
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'edit_item_valid_ajax' item.id %}",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}", // Include CSRF token in the headers
                        },
                        data: $('#itemForm').serialize(),
                        success: function(response) {
                            if (response.success) {
                                $('#itemForm').unbind('submit').submit(); // Submit the form if validation succeeds
                            } else {
                                alert(response.error); // Alert the error message if validation fails
                            }
                        },
                        error: function(xhr, status, error) {
                            // Handle error
                            console.error(xhr.responseText);
                        }
                    });
                });
            });
        

            // hsn check
            function hsncheck(hsn){
              
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'edit_item_valid_ajax' item.id %}",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}", // Include CSRF token in the headers
                        },
                        data: { 'item_hsn': hsn},
                        success: function(response) {
                          if (response.success) {
                            $('#hsnmsg').text('Valid').removeClass('error').addClass('success');
                        } else {
                            $('#hsnmsg').text(response.error).removeClass('success').addClass('error');
                        }
                        },
                        error: function(xhr, status, error) {
                            // Handle error
                            console.error(xhr.responseText);
                        }
                    });
                
            }

            // name check
            function namecheck(name){
              
              $.ajax({
                  type: 'POST',
                  url: "{% url 'edit_item_valid_ajax' item.id %}",
                  headers: {
                      "X-CSRFToken": "{{ csrf_token }}", // Include CSRF token in the headers
                  },
                  data: { 'item_name': name},
                  success: function(response) {
                    if (response.success) {
                      $('#namemsg').text('Valid').removeClass('error').addClass('success');
                  } else {
                      $('#namemsg').text(response.error).removeClass('success').addClass('error');
                  }
                  },
                  error: function(xhr, status, error) {
                      // Handle error
                      console.error(xhr.responseText);
                  }
              });
          
      }
        </script>
  
          <!-- modal start -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="background-color: #343957;">
                  <h1 class="modal-title fs-5 text-white"  id="exampleModalLabel">ADD UNIT</h1>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body mb-1 pb-1">
                  <form class="mb-0" action="{% url 'item_unit_create' %}" method="POST" id="unit_form">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">UNIT</label>
                      <input type="text" class="form-control border-dark" id="item_unit_name_id" placeholder="ENTER UNIT HERE.." name="item_unit_name" required>
                    </div>
                    <div class="m-0 text-center">
                      <label for="message-text" class="col-form-label  text-secondary fw-lighter">Example : PCS/BOX/LITER</label>
                      <!-- <textarea class="form-control" id="message-text"></textarea> -->
                    </div>
                    <input hidden id="submit_unit_creation" type="submit">
                  </form>
                </div>
                <div class="modal-footer d-flex justify-content-center mt-1">
                  <button id="modal_cls_btn" type="button" class="btn btn-secondary ps-5 pe-5" data-bs-dismiss="modal">Close</button>
                  <button id="add_btn_" type="button" class="btn btn-primary ps-5 pe-5" onclick="submit_unit_creation_fn()">ADD</button>
                </div>
              </div>
            </div>
          </div>
          <!-- modal end -->
  
          
          
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $(document).on("submit","#unit_form",function(e){
      e.preventDefault();
    $.ajax({
      
      type : 'POST',
      url:"{% url 'item_unit_create' %}",
  
      data:{
        item_unit_name : $("#item_unit_name_id").val(),
          
          csrfmiddlewaretoken: '{{ csrf_token }}'
          
        },
      
        success: function() {
          
        },
        
    });  
    $('#modal_cls_btn').click()
    var a = ''+$('#item_unit_name_id').val()
    a.toUpperCase()
    $('#load_new_unit').val(a)
    $('#load_new_unit').text(a) 
    $('#load_new_unit').prop('selected',true) 
    $('#load_new_unit').attr('hidden',false)
  });
    $(document).ready(function () {
      if ($('#flexSwitchCheckChecked').prop('checked')) {
        $('#lbl2').css({ 'color': 'blue' })
      }
      else{
        $('#lbl1').css({ 'color': 'blue' })
      }
      $('#flexSwitchCheckChecked').on('change load', function () {
        if ($('#flexSwitchCheckChecked').prop('checked')) {
          $('#lbl2').css({ 'color': 'blue' })
          $('#lbl1').css({ 'color': 'inherit' })
        }
        else {
          $('#lbl1').css({ 'color': 'blue' })
          $('#lbl2').css({ 'color': 'inherit' })
        }
      })
    })
    $(document).ready(function(){
      $('#item_tax_1').on('click',function(){
        if($(this).prop('checked'))
        {
          $('#taxable_hide').attr('hidden',false)
        }
      })
    })
    // page loading start
    $(document).ready(function(){
      $('#item_tax_2').on('click',function(){
        if($(this).prop('checked'))
        {
          $('#taxable_hide').attr('hidden',true)
        }
      })
    })
    $(document).ready(function(){
      $('#prc_').css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
      $('#stk_ a').removeClass('text-dark')
      $('#prc_ a').addClass('text-dark')
      $('#stk_').css({'border-bottom': 'none'})
      $('#pricing_template').attr('hidden',false)
  
  
      $('#prc_').on('click',function(){
        $(this).css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
        $('#stk_ a').removeClass('text-dark')
        $('#prc_ a').addClass('text-dark')
        $('#stk_').css({'border-bottom': 'none'})
        $('#pricing_template').attr('hidden',false)
        $('#stock_template').attr('hidden',true)
      })
    })
    $(document).ready(function(){
      $('#stk_').on('click',function(){
        $('#stk_').css({'border-bottom': '3px solid rgba(0, 0, 0, 0.548)'})
        $('#prc_ a').removeClass('text-dark')
        $('#stk_ a').addClass('text-dark')
        $('#prc_').css({'border-bottom': 'none'})
        $('#pricing_template').attr('hidden',true)
        $('#stock_template').attr('hidden',false)
      })
    })
    $(document).ready(function(){
      $('#next_btn').on('click',function(){
        $('#stk_').click()
      })
    })
    $(document).ready(function(){
      $('#prev_btn').on('click',function(){
        $('#prc_').click()
      })
    })
    // $(document).ready(function(){
    //   $('#prc_').on('click',function(){
    //     alert('asdsad')
    //   })
    // })
    // $(document).ready(function(){
    //   $('#prc_').on('click',function(){
    //     alert('asdsad')
    //   })
    // })
    // page loading end
    $('#opn_stock_').on('keyup click',function(){
      if($(this).val()>'0')
      {
        $('#at_price_div').css({'visibility':'visible',
                                'transition':'all 0.2s linear'})
      }
      else{
        $('#at_price_div').css({'visibility':'hidden',
                                'transition':'all 0.2s linear'})
        $('#at_price').val('')
      }
    })
    $(document).ready(function(){
      $('#item_tax_1').on('click',function(){
        $('#taxable_result').val('Taxable')
      })
    })
    $(document).ready(function(){
      $('#item_tax_2').on('click',function(){
        $('#taxable_result').val('Non Taxable')
      })
    })
    function submit_unit_creation_fn()
    {
      $('#submit_unit_creation').click()
    }
    // set today start
    $(document).ready(function(){
          var currentDate = new Date();
          var year = currentDate.getFullYear();
          var month = String(currentDate.getMonth() + 1).padStart(2, "0");
          var day = String(currentDate.getDate()).padStart(2, "0");
          var formattedDate = year + "-" + month + "-" + day;
          $("#date_").val(formattedDate);
      })
      // set today end
  
  </script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}